
#page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 400px;
  background-image: url("https://hbimg.huabanimg.com/15fa28bef6214099169cf5b55ed920f0a6e37158147b1-NhAjzT_fw658");
  background-repeat: no-repeat;
  background-size: cover ;

  font-family: "Source Sans Pro", sans-serif
}

#name {
  color: #ffffff;
  font-size: 50px;
}

#profile-img {
  height: 65%;
  width: auto;
}
