
#new-tweet {
display: none;
width: 100%;
}


[name="text"] {
  display: block; /* gets the other elements away from it, by having it take up the width */
  width: 100%;
  border: transparent;
  border-bottom: solid; /* Overwrites the above transparent */
  border-color:#545149;
  color: #545149;
  border-width: 0.1em;
  background-color: #f4f1ec;
  margin-bottom: 0.5em; /* margin was the only way to move the lower elements */
  font-size: 2em;
  font-family: "Source Sans Pro: 700", sans-serif
}


[name="button-and-counter"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tweet-button {
  font-family: "Bungee", sans-serif;
  border-style: solid;
  background-color:#4056A1;
  color: #ffffff;
  padding: 6px
}

#tweet-button:hover {
  transition-duration: 0.3s;
  transition-property: box-shadow;
  box-shadow: 0 0 0 2px #8095f3, 0 0 1px rgba(0, 0, 0, 0);
}
}

.counter {
  font-family: "Bungee", sans-serif;
}

::placeholder {
  opacity: 1;
  color:#545149;

}

/* .new-tweet {
  display: flex;
  flex-direction: column;
} */